.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.title{
    color: #eee;
}

.phrase{
    color: #ccc;
}

.image{
}   